body {
	margin: 0;
	padding: 0;


	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-shadow: 0px 0px 2px 2px red;
  background-color: #f2f2f2;
}


.page-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-height: 60px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
	outline: 2px dashed aqua;
}

.navigation-list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	min-width: 1200px;

	list-style: none;
	outline: 2px dashed olive;

}


.navigation-list a {
	color: #000000;
}

.navigation-list a:hover {
	color: #81b3d2;
}

.navigation-list a:focus {
	color: #6a6a6a;
}

.navigation-list a:active {
	color: #766357;
}

.logo img {
	position: absolute;
	right: 720px;

	width: 140px;
	height: 70px;

	outline: 2px dashed navy;
}

.hills-image {
	width: 1200px;
	height: 725px;
	background-image:
		url("../img/mask-repeat.jpg"),
		url("../img/intro-mask.svg"),
		url("../img/intro-welcome.svg"),
		url("../img/mountains.jpg");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 0 500px, center 445px, 50% 73px, center;
	background-size: 100%, 100%, 38%, cover;

	outline: 2px dashed gray;
}

.advantage {
	position: relative;
}

.about-us span {
	display: block;
}

.about-us {
	position: absolute;
	top: -160px;
	right: 360px;
	margin: 0;

	text-align: center;
}

.caption {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

.subcaption {
	font-size: 14px;
	line-height: 26px;
	color: #000000
}



.advantage-list {
	margin: 0;
	padding: 0;
	list-style: none;

	outline: 2px dashed purple;
}

.advantage-list .all-width {
	display: flex;

	outline: 4px dashed aqua;
}

.advantage-list li > ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	outline: 2px dashed green;
}


.offer {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0;
	padding: 0;

	align-items: center;

	background-color: #ffffff;
	outline: 2px dashed teal;
}

.offer .desc {
	margin-top: 57px;
	margin-bottom: 50px;
}

.desc .caption {
	display: block;
	margin-bottom: 30px;

	font-size: 30px;
	text-align: center;
}

.desc .subcaption {
	display: block;

	text-align: center;
}

.offer .form-active-button {
	display: block;
	width: 575px;
	height: 85px;
	padding: 0;

	font-size: 21px;
	font-weight:bold;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.offer .form-active-button:hover {
	background-color: #604e43;
}

.offer .form-active-button:focus {
	background-color: #503e33;
	color: #857871;
}

.map {
	margin: 0;
	padding: 0;

	outline: 2px dashed lime;
}

.map img {
	width: 1200px;
	height: 595px;
}

.page-footer {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	background: rgba(250, 250, 250, 0.9);
	padding: 0 40px;
	outline: 2px dashed lime;
}

.social .social-list {
	display: flex;
	list-style: none;
}



.page-footer .contacts {
	font-size: 21px;
	font-weight: bold;
	line-height:26px;
	color: #000000;

	outline: 2px dashed maroon;
}

.page-footer .social-list {
	margin: 0;
	padding: 0;
	list-style: none;

	outline: 2px dashed maroon;

}

.page-footer .developer {
	margin: 0;
	padding: 0;

	outline: 2px dashed maroon;
}

.page-footer .footer-caption {
	font-size: 14px;
	font-weight: regular;
	line-height:26px;
}



.modal .search-form {
	position: absolute;
	left: 312px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 575px;
	height: 400px;
	box-sizing: border-box;

	background-color: #ffffff;
}

.search-form ul {
	display: flex;
	flex-direction: column;
	align-items: space-around;
	margin: 55px 0;

	outline: 2px dashed maroon;
}

.search-list {
	margin: 0;
	padding: 0;
	list-style: none;

	outline: 2px dashed maroon;
}

.search-list li {
	margin: 0 auto;
	outline: 2px dashed navy;
}

.search-form .search-button {
	width: 460px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 55px;

}

/*
.modal h3 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;

	background-color: #766357
}
*/



.all-field label {
	font-size: 14px;
	font-weight: bold;
	line-height:26px;
	color: #000000;
}

.all-field input {
	background-color: #f2f2f2;
}

.all-field input:hover {
	background-color: #ebebeb;
}

.all-field input:focus {
	background-color: #ffffff;
}


.search-form .search-button {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
}

.search-form .search-button:hover {
	background-color: #669ec0;
}

.search-form .search-button:focus {
	color: #88b6d1;
	background-color: #5496bd;
}



/*Стили для внутренней страницы*/
.choise {
	min-height: 220px;

	outline: 2px dashed lime;
	background: url("../img/filterMountains.jpg") no-repeat center;
}

.choise form {
	display: flex;
	justify-content: space-around;
}

fieldset {
	border: none;
}


fieldset legend {
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;

}

.inner-field label {
	font-size: 14px;
	font-weight: regular;
	line-height: 21px;
	color: #ffffff;
}

/*Стили для всех списков на странице*/

.choise .field-list,
.sort .sort-list,
.hotels .hotels-list,
.item > ul,
.item > ul > li > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Стили для блока сортировки*/

.sort  {
	display: flex;
	align-items: baseline;

	outline: 2px dashed maroon;
}

.sort .sort-list {
	display: inline-block;
}

.sort-list li {
	display: inline-block;
}

.sort-item a {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: #857871;

	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: #81b3d2;

	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:focus {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: #000000;

	border-bottom: none;
}

.sort-item a:active {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: #81b3d2;

	border-bottom: none;
}

.sort-button-up a {
	display: block;
	width: 25px;
	height: 25px;
	background:  url("../img/icon-up-dir.svg") no-repeat 50% 50%;

}


.sort-button-down a {
	display: block;
	width: 25px;
	height: 25px;
	background:  url("../img/icon-down-dir.svg") no-repeat 50% 50%;

}

.found span:first-child {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.found span:last-child {
	font-size: 12px;
	font-weight: regular;
	line-height: 18px;
}

/*Стили для карточек отелей*/

.hotels .hotels-list {
	display: flex;
	flex-direction: column;

	outline: 2px dashed orange;

}

.item > ul {
	display: flex;
	justify-content: space-around;
	min-height: 155px;

	outline: 3px dashed cyan;
}

.item > ul > li {
	outline: 2px dashed navy;
}



.column-2 ul li {
	outline: 2px dashed maroon;

}

.hotel-view,
.price {
	display: inline-block;

	outline: 2px dashed lime;
}

.column-3 span {
	display: block;
}




.button {
	display: inline-block;
	width: 110px;
	height: 27px;

	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;

	color: #ffffff;
}

.button-reserved {
	background-color: #766357;
	width: 143px;
}

.button-details {
	background-color: #81b3d2;
}

.button-reserved:hover {
	background-color: #604e43;
}

.button-reserved:focus {
	color: #857871;
	background-color: #503e33;
}

.button-details:hover {
	background-color: #669ec0;
}

.button-details:focus {
	color: #88b6d1;
	background-color: #5496bd;
}

