body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial; sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.page-navigation {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;
}


.navigation-list a {
	color: #000000;
}

.navigation-list a:hover {
	color: #81b3d2;
}

.navigation-list a:focus {
	color: #6a6a6a;
}

.hills-image {
	width: 1200px;
	height: 680px;
	background-image:
		url("../img/intro-welcome.svg"),
		url("../img/mountains.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: center, center;
	background-size: 50%, contain;
}

.about-us {
	text-align: center;
}

.caption {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

.subcaption {
	font-size: 14px;
	line-height: 26px;
	color: #000000
}

.advantage-list,
.advantage-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.all-width .caption,
.all-width .subcaption {
	color: #ffffff;

	background-color: #81b3d2;
}

.desc .caption {
	font-size: 30px;
}

.offer .form-active-button {
	padding: 0;

	font-size: 21px;
	font-weight:bold;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.offer .form-active-button:hover {
	background-color: #604e43;
}

.offer .form-active-button:focus {
	background-color: #503e33;
	color: #857871;
}

.page-footer .contacts {
	font-size: 21px;
	font-weight: bold;
	line-height:26px;
	color: #000000;
}

.page-footer .social-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.page-footer .footer-caption {
	font-size: 14px;
	font-weight: regular;
	line-height:26px;
}

.search-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*
.modal h3 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;

	background-color: #766357
}
*/

.all-field label {
	font-size: 14px;
	font-weight: bold;
	line-height:26px;
	color: #000000;
}

.all-field input {
	background-color: #f2f2f2;
}

.all-field input:hover {
	background-color: #ebebeb;
}

.all-field input:focus {
	background-color: #ffffff;
}


.search-form .search-button {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
}

.search-form .search-button:hover {
	background-color: #669ec0;
}

.search-form .search-button:focus {
	color: #88b6d1;
	background-color: #5496bd;
}



/*Стили для внутренней страницы*/
.choise {
	display: block;
	width: 100%;
	height: 500px;
	background: url("../img/filterMountains.jpg") no-repeat;
}

fieldset {
	border: none;
}


fieldset legend {
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;

}

.inner-field label {
	font-size: 14px;
	font-weight: regular;
	line-height: 21px;
	color: #ffffff;
}

.choise .field-list,
.sort .sort-list,
.hotels .hotels-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sort p {
	display: inline-block;
}

.sort .sort-list {
	display: inline-block;
}

.sort-list li {
	display: inline-block;
}

.sort-item a {
	font-size: 12px;
	font-weight: regular;
	line-height: 18px;
	color: #857871;

	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover {
	font-size: 12px;
	font-weight: regular;
	line-height: 18px;
	color: #81b3d2

	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:focus {
	font-size: 12px;
	font-weight: regular;
	line-height: 18px;
	color: #000000

	border-bottom: none;
}

.sort-list .sort-button,
.sort-list .sort-button:hover,
.sort-list .sort-button:focus {
	border: none;
}

.found span:first-child {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.found span:last-child {
	font-size: 12px;
	font-weight: regular;
	line-height: 18px;
}

.button {
	display: inline-block;
	width: 110px;
	height: 27px;

	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;

	color: #ffffff;
}

.button-reserved {
	background-color: #766357;
	width: 143px;
}

.button-details {
	background-color: #81b3d2;
}

.button-reserved:hover {
	background-color: #604e43;
}

.button-reserved:focus {
	color: #857871;
	background-color: #503e33;
}

.button-details:hover {
	background-color: #669ec0;
}

.button-details:focus {
	color: #88b6d1;
	background-color: #5496bd;
}

